<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>
        what's
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
          name='viewport'/>
    <link href="/static/css/now-ui-kit.css?v=1.2.0" rel="stylesheet"/>
    <link href="/static/css/bootstrap.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="/static/js/now-ui-kit.js?v=1.2.0" type="text/javascript"></script>

    <style>
        .input-group-text {
            font-size: 0.75rem;
        }

        p {
            color: #888888;
        }

        label {
            color: #888888;
        }

        .card-title {
            color: #209e85;
        }

        .btn-circle {
            width: 50px;
            height: 50px;
            padding: 10px 0px;
            border-radius: 22px;
            text-align: center;
            font-size: 20px;
            line-height: 1.42857;
        }
    </style>

</head>

<body class="login-page sidebar-collapse">
<!-- End Navbar -->
<div class="page-header clear-filter" filter-color="green">
    <div class="page-header-image" style="background-image:url(/static/img/bg.jpg)"></div>
    <div class="content">
        <div class="container">
            <div class="col-md-10 ml-auto col-xl-6 mr-auto">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title">
                            <span>{{ chapter.title }}</span>
                        </h6>
                        <p class="card-description">
                        <div class="row mr-auto">

                            {% for topic in topics.object_list %}
                                <div class="col-2 my-1">
                                    <button type="button"
                                            onclick="window.location.href='/question/{{ topic.question_id }}'"
                                            class="btn btn-circle {{ topic.status }}">{{ forloop.counter|add:number }}
                                    </button>
                                </div>
                            {% endfor %}
                        </div>
                        </p>

                        <div class="text-info">
                            {% if topics.has_previous %}
                                <a href="?page={{ topics.previous_page_number }}">上一页</a>
                            {% endif %}
                            {# topics.paginator.number_pages 返回总页数 #}
                            Page {{ topics.number }} of {{ topics.paginator.num_pages }}.
                            {% if topics.has_next %}
                                <a href="?page={{ topics.next_page_number }}">下一页</a>
                            {% endif %}
                        </div>
                        <small><a href="/welcome">返回首页</a> </small>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

</body>

</html>