<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>
        what's
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
          name='viewport'/>
    <link href="/static/css/now-ui-kit.css?v=1.2.0" rel="stylesheet"/>
    <link href="/static/css/bootstrap.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="/static/js/now-ui-kit.js?v=1.2.0" type="text/javascript"></script>

    <style>
        .input-group-text {
            font-size: 0.75rem;
        }

        p {
            color: #888888;
        }

        label {
            color: #888888;
        }

        .card-title {
            color: #209e85;
        }
    </style>
    <script>
        let ans_list = [];
        $(document).ready(function () {
            {% for ans in answer_list %}
                ans_list.push("{{ ans }}");
            {% endfor %}
            if ({{ question.type}}!=2)
            {
                $("#form").remove();
            }
        });

        function q(e) {
            const btn = $(e);
            if (btn.attr('class').indexOf("active") != -1) {
                btn.removeClass("active");
            }
            else btn.addClass("active");
            if ({{ question.type}}!=2)
            {
                submit();
            }
        }

        function reset() {
            $("button.btn-lg").each(function () {
                $(this).attr("class", "btn btn-lg btn-block btn-outline-secondary");
            });
        }

        Array.prototype.remove = function (val) {
            var index = this.indexOf(val);
            if (index > -1) {
                this.splice(index, 1);
            }
        };

        function submit() {
            $("button.btn-lg").each(function () {
                if ($(this).attr("onclick").indexOf("q(this)") != -1)
                    $(this).attr("onclick", "");
            });
            $("#form").remove();
            let option_list = [];
            $("button.active").each(function () {
                option_list.push($(this).attr("id"));
            });
            let opt_list = option_list.slice(0);

            let arr = ans_list.slice(0);
            for (let i = option_list.length - 1; i >= 0; --i) {
                if (arr.indexOf(option_list[i]) != -1) {
                    arr.splice(arr.indexOf(option_list[i]), 1);
                    option_list.splice(i, 1);
                }
            }
            let status = 1;
            if (option_list.length == 0 && arr.length > 0) {
                for (let i = 0; i < opt_list.length; ++i) {
                    $("#" + opt_list[i]).attr("class", "btn btn-lg btn-block btn-success");
                }
                for (let j = 0; j < arr.length; ++j) {
                    $("#" + arr[j]).attr("class", "btn btn-lg btn-block btn-warning");
                }

                status = 0;
            }
            else if (option_list.length > 0 || arr.length > 0) {
                for (let j = 0; j < arr.length; ++j) {
                    $("#" + arr[j]).attr("class", "btn btn-lg btn-block btn-info");
                }
                for (let j = 0; j < ans_list.length; ++j) {
                    $("#" + ans_list[j]).attr("class", "btn btn-lg btn-block btn-success");
                }
                for (let i = 0; i < option_list.length; ++i) {
                    $("#" + option_list[i]).attr("class", "btn btn-lg btn-block btn-danger");
                }
                status = 0;
            } else {
                for (let j = 0; j < ans_list.length; ++j) {
                    $("#" + ans_list[j]).attr("class", "btn btn-lg btn-block btn-success");
                }
            }
            $.post("/do/", {
                question_id: "{{ question.question_id }}",
                option_list: opt_list,
                csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val(),
                status: status
            }, function (data) {
                console.log(data);
            });
        }
    </script>
</head>

<body class="login-page sidebar-collapse">
<!-- End Navbar -->
<div class="page-header clear-filter" filter-color="green">
    <div class="page-header-image" style="background-image:url(/static/img/bg.jpg)"></div>
    <div class="content">
        <div class="container">
            <div class="col-md-10 ml-auto col-xl-6 mr-auto">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title">
                            <span>{{ question.title }}</span>
                        </h6>
                        <div class="text-success">
                                <small>{{ question.chapter.title }}</small>
                        </div>
                        <small class="text-info">
                            {% ifequal question.type 1 %} 单选题 {% endifequal %}
                            {% ifequal question.type 2 %} 多选题 {% endifequal %}{% ifequal question.type 3 %}
                            辨析题 {% endifequal %}
                        </small>
                        <p class="card-description">
                        <div class="row">
                            {% ifequal question.type 3 %}
                                <div class="col-12 pb-2">
                                    <button id="错误" type="button"
                                            class="btn btn-lg btn-block btn-outline-secondary" onclick="q(this)">
                                        错误
                                    </button>
                                </div>
                                <div class="col-12 pb-2">
                                    <button id="正确" type="button"
                                            class="btn btn-lg btn-block btn-outline-secondary" onclick="q(this)">
                                        正确
                                    </button>
                                </div>
                            {% endifequal %}
                            {% for option in option_list %}
                                <div class="col-12 pb-2">
                                    <button id="{{ option.option_id }}" type="button"
                                            class="btn btn-lg btn-block btn-outline-secondary" onclick="q(this)">
                                        {{ option.subtitle }}. {{ option.content }}
                                    </button>
                                </div>
                            {% endfor %}
                        </div>
                        {% csrf_token %}
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-12 pb-2" id="form">
                                    <button type="button" class="btn btn-success" onclick="submit()">提交</button>
                                    <button type="button" class="btn btn-secondary" onclick="reset()">重置</button>
                                </div>
                                {% ifnotequal redirect_url ull%}
                                <div class="col-12 pb-1">
                                    <button type="button" class="btn btn-lg btn-block btn-outline-warning "
                                            onclick="location.href = '{{ redirect_url }}';">下一题
                                    </button>
                                </div>
                                {% endifnotequal %}
                            </div>

                            <a href="/welcome"> 返回主页</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</div>

</body>

</html>