<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>
        what's
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
          name='viewport'/>
    <link href="/static/css/now-ui-kit.css?v=1.2.0" rel="stylesheet"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="/static/js/now-ui-kit.js?v=1.2.0" type="text/javascript"></script>


    <style>
        .input-group-text {
            font-size: 0.75rem;
        }

        p {
            color: #888888;
        }

        label {
            color: #888888;
        }
    </style>
    <script>
        function chapter() {
            location.href = "/order/" + $("#chapter").val() + "/";
        }

        function changeCategory() {
            $.get("/api/changeCategory/" + $("#category").val());
            $("#settings").prepend('<div class="alert alert-success" role="alert">修改成功，请刷新页面</div>');
        }

        function changePassword() {
            $.post("/api/changePassword", {password: $("#newpassword").val()}, function (d) {
                console.log(d);
            })
        }
    </script>
</head>

<body class="login-page sidebar-collapse">
<!-- End Navbar -->
<div class="page-header clear-filter" filter-color="green">
    <div class="page-header-image" style="background-image:url(/static/img/bg.jpg)"></div>
    <div class="content">
        <div class="container">
            <div class="col-md-10 ml-auto col-xl-6 mr-auto">


                <!-- Nav tabs -->
                <div class="card">
                    <div class="card-header">
                        <ul class="nav nav-tabs justify-content-center" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active show" data-toggle="tab" href="#special" role="tab"
                                   aria-selected="true">

                                    专项测试
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#simulation" role="tab"
                                   aria-selected="false">

                                    模拟测试
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#history" role="tab" aria-selected="false">

                                    答题历史
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#settings" role="tab" aria-selected="false">

                                    个人设置
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="card-body">
                        <!-- Tab panes -->
                        <div class="tab-content text-center">

                            <div class="tab-pane active show" id="special" role="tabpanel">
                                <div class="row">
                                    <div class="col-12">
                                        <p>您已经完成了<span class="text-info">{{ finish }}</span>项题目，其中<span
                                                class="text-danger">{{ wrong }}</span>项错题，还剩<span
                                                class="text-success">{{ wait }}</span>项题目
                                        </p>
                                    </div>

                                    <div class="col-sm-6 col-lg-12">
                                        <div class="form-group row">
                                            <div class="col-sm-9 pb-2">
                                                <select id="chapter" class="custom-select">
                                                    {% for chapter in chapter_list %}
                                                        <option value="{{ chapter.chapter_id }}">{{ chapter.title }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="col-sm-3">
                                                <button class="btn btn-outline-info pull-right" onclick="chapter()">
                                                    顺序练习
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-lg-12 pb-2">
                                        <div class="row">
                                            <div class="col-lg-4 pb-2">
                                                <button type="button" onclick="location.href = '/chapter/'+$('#chapter').val();"
                                                        class="btn btn-block btn-outline-info">答题情况
                                                </button>
                                            </div>
                                            <div class="col-lg-4 pb-2">
                                                <button type="button" onclick="location.href = '/random';"
                                                        class="btn btn-block btn-outline-success">乱序练习
                                                </button>
                                            </div>

                                            <div class="col-lg-4">
                                                <button type="button" onclick="location.href = '/wrong';"
                                                        class="btn btn-block btn-outline-danger">错题回顾
                                                </button>
                                            </div>
                                        </div>


                                    </div>

                                </div>
                            </div>
                            <div class="tab-pane" id="simulation" role="tabpanel">
                                <div class="row">

                                    {% csrf_token %}
                                    <div class="col-sm-6 col-lg-6">
                                        <div class="form-group row">
                                            <label for="singleNum" class="col-sm-4 col-form-label">单选题</label>
                                            <div class="col-sm-8">
                                                <input id="singleNum" type="number" value="40" placeholder="单选题数量"
                                                       class="form-control">
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-lg-6">
                                        <div class="form-group row">
                                            <label for="multiplyNum" class="col-sm-4 col-form-label">多选题</label>
                                            <div class="col-sm-8">
                                                <input id="multiplyNum" type="number" value="20" placeholder="多选题数量"
                                                       class="form-control">
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-lg-6">
                                        <div class="form-group row">
                                            <label for="diffNum" class="col-sm-4 col-form-label">辨析题</label>
                                            <div class="col-sm-8">
                                                <input id="diffNum" type="number" value="10" placeholder="辨析题数量"
                                                       class="form-control">
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-lg-6">
                                        <div class="pull-right">
                                            <button type="submit" class="btn btn-outline-success disabled">开始测试</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="tab-pane" id="history" role="tabpanel">
                                <table class="table table-striped table-dark">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">题目</th>
                                        <th scope="col">状态</th>
                                        <th scope="col">查看</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for history in history_list %}
                                        <tr>
                                            <th scope="row">{{ forloop.counter }}</th>
                                            <td>{% if history.question__title|length >= 8 %}
                                                {{ history.question__title|slice:"8" }}
                                            {% else %}
                                                {{ history.question__title }}
                                            {% endif %}
                                            </td>
                                            <td>{% ifequal history.status '1' %}
                                                正确
                                            {% endifequal %}
                                                {% ifequal history.status '0' %}
                                                    错误
                                                {% endifequal %}
                                            </td>
                                            <td><a href="/question/{{ history.question_id }}">查看</a></td>
                                        </tr>
                                    {% endfor %}


                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="settings" role="tabpanel">
                                <div class="row">
                                    <div class="col-sm-6 col-lg-12">
                                        <div class="form-group row">
                                            <div class="col-sm-7 pb-2">
                                                <input id="newpassword" type="password" placeholder="新密码"
                                                       class="form-control"></div>
                                            <div class="col-sm-5">
                                                <button class="btn btn-outline-warning btn-block"
                                                        onclick="changePassword()">修改密码
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-lg-12">
                                        <div class="form-group row">
                                            <div class="col-sm-7 pb-2">
                                                <select id="category" class="custom-select">
                                                    {% for category in category_list %}
                                                        <option value="{{ category.category_id }}">{{ category.title }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="col-sm-5">
                                                <button class="btn btn-outline-info btn-block"
                                                        onclick="changeCategory()">修改题库
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

</body>

</html>